@import url(https://fonts.googleapis.com/css?family=Lora);
h1 {
  text-align: center;
  margin-top: 45px;
  font-family: Lora;
  font-size: 50px;
}

p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-family: Lora;
  padding: 0px;
  margin-bottom: 10px;
}

div {
  font-family: Lora;
}
div row {
  float: right;
}



nav {
  align-items: stretch;
  list-style-type: none;
  padding: 30px;
  font-family: Lora;
  font-size: 20px;
}
nav a {
  margin: 100px;
  margin-top: 10px;
}

ol {
  font-size: 20px;
  margin: 5px;
  padding: 0px;
  margin-bottom: 5px;
  color: #327B9F;
}
li {
  margin: 10px;
  font-size: 15px;

}

#navlist {
  background-color: #D9E8F6;
  margin: 30px;
}

body {
  background-image: url(../sky.jpg);
}
